{% load static %}
<head>
  <link rel="stylesheet" href="{%static 'recipes/style.css' %}" />
</head>
<!DOCTYPE html>
<html>
  <title>Recipes App Home</title>
  <body>
    <a href="{%url 'logout' %}"> Logout </a>
    <h1>Recipes' list</h1>
    <table border="1" cellpadding="5" cellspacing="5">
      <tr>
        <td>Recipes' Titles</td>
        <td>Recipes' Images</td>
      </tr>
      {% for object in object_list %}
      <tr>
        <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
        <td><img src="{{object.image.url}}" width="150" height="200" /></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
